body {
    background: #000;
    font-family: Verdana;
}

#wrap {
    width: 640px;
    background: #adb5bd;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 5px 5px whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 1px;
}

p {
    margin-bottom: 30px;
}

.seagull {
    color: white;
    font-weight: bold;
    font-style: oblique;
    font-size: 18px;

}

#picture {
    text-align: center;
}

.busy {
    font-weight: lighter;
    font-size: 15px;
}

.available {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
